body {
    background: #ffffff;
    margin: 0;
    padding: 0;
}

.header {
    background: #111;
    padding: 16px;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.nav a {
    padding: 8px 16px;
    background: #ffffff;
    width: 120px;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100vh; 
    gap: 1rem;
}

.main {
    padding: 16px;
    padding-right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    height: 100%;
}

.box {
    background: #ccc;
    border-radius: 8px;
}

.sidebar {
    background: #000000;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
}

.top-bar {
    display: flex;
    justify-content: flex-end;  
    align-items: center;        
    gap: 8px;  
}

.lines-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;  
}

.lines-top .line {
    height: 10px;   

}

.avatar {
    width: 60px;
    height: 60px;
    background: #d4af37; 
    border-radius: 50%;
}

.lines-vertical {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
}

.lines-vertical .line {
    height: 6px;       
    border-radius: 3px;
}

.red {
    background: #e57373;
}
.yellow {
    background: #fbc02d;
}
.green {
    background: #4caf50;
}




